In [1]:
import psycopg2
import csv

### 1. Connect to postgres database via local host

In [2]:
dbname = "ny_taxi"
user = "postgres"
password = "postgres"
host = "localhost"
port = "5433"

connection = psycopg2.connect(
    dbname=dbname,
    user=user,
    password=password,
    host=host,
    port=port
)

cursor = connection.cursor()

### 2. Create tables and load data

In [3]:
try:
    with open('sql_queries/create_tables.sql', 'r') as file:
        create_table = file.read()
        
    cursor.execute(create_table)
    connection.commit()
    
    
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()

In [4]:
trips = "../data/green_tripdata_2019-10.csv"
locations = "../data/taxi_zone_lookup.csv"

def convert_empty_to_none(value):
    return None if value == "" else value

with open('sql_queries/insert_trips.sql', 'r') as file:
    insert_trips = file.read()

with open('sql_queries/insert_location.sql', 'r') as file:
    insert_location = file.read()

In [5]:
try:
    with open(trips, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip the header row
        for row in reader:
            row = [convert_empty_to_none(value) for value in row]
            cursor.execute(insert_trips, row)
            
    with open(locations, 'r') as file:
        reader = csv.reader(file)
        next(reader)  # Skip the header row
        for row in reader:
            row = [convert_empty_to_none(value) for value in row]
            cursor.execute(insert_location, row)
    
    connection.commit()
    
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()

### 3. Solutions

#### Question 3

In [6]:
try:
    with open('sql_queries/question3.sql', 'r') as file:
        query = file.read()
        
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()

(104830, 198995, 109642, 27686, 35201)

#### Question 4

In [7]:
try:
    with open('sql_queries/question4.sql', 'r') as file:
        query = file.read()
        
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()

(datetime.date(2019, 10, 31), Decimal('515.89'))

#### Question 5

In [8]:
try:
    with open('sql_queries/question5.sql', 'r') as file:
        query = file.read()
        
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()

(74, 'East Harlem North', Decimal('18686.68'))
(75, 'East Harlem South', Decimal('16797.26'))
(166, 'Morningside Heights', Decimal('13029.79'))

#### Question 6

In [9]:
try:
    with open('sql_queries/question6.sql', 'r') as file:
        query = file.read()
        
    cursor.execute(query)
    results = cursor.fetchall()
    
    for row in results:
        print(row)
    
except Exception as e:
    print(f"Error: {e}")
    connection.rollback()

('East Harlem North', 'JFK Airport', Decimal('87.30'))